body {
    background-color: cornsilk;
    color: royalblue;
}

ul {
    padding: 0;
    list-style-type: none;
}

.lijst li {
    padding: 2px;
    text-align: center;
    width: 100%;
}

a {
    display: inline-block;
    width: 100%;
}

a:active, a:visited {
    color:cornflowerblue;
}

a:hover {
    color: cornsilk;
    background-color: cornflowerblue;
}

.orange, .orange:visited{
    color: orange;
}

.red, .red:visited {
    color: red;
}

.yellow, .yellow:visited {
    color: yellow;
    background-color: black;
}

.orange:hover {
    color: cornsilk;
    background-color: orange;
}

.red:hover {
    color: cornsilk;
    background-color: red;
}

.yellow:hover {
    color: cornflowerblue;
    background-color: yellow;
}