body {
  background-color: rgb(68, 209, 143);
}
h1 {
  font-size: 6em;
text-align: center;
color: black;
font-family: Arial black;
}

p {
font-size: 2em;
  color: black;
text-align: center;
font-family: Arial black;
}

h2 {
  font-size: 6em;
text-align: center;
color: black;
font-family: Arial black;
}

li {
text-align: center;
font-family: Arial black;
}

a:hover {
  color: rgb(0, 0, 0);